
<section class="content-header">
    <h1>Accounts</h1>
</section>
<section class="content">
    <div class="box box-default">
        <div class='table-responsive'>
            <div style="padding:10px; padding-top:10px;"><button class="btn btn-primary" (click)="addAccounts()">Add</button></div>
            <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../../../Content/adminLTE/img/loading.gif" width="32" height="32" /> Loading...</div>
            <div *ngIf='accounts && accounts.length==0' class="alert alert-info" role="alert">No record found!</div>

            <table class='table table-striped' *ngIf='accounts && accounts.length'>
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Password</th>
                        <th>FullName</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>PermissionId</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let account of accounts">
                        <td>{{account.UserName}}</td>
                        <td>{{account.Password}}</td>
                        <td>{{account.FullName}}</td>
                        <td>{{account.Email}}</td>
                        <td>{{account.Phone}}</td>
                        <td>{{account.PermissionId}}</td>
                        <td>{{account.Status}}</td>
                        <td>
                            <button title="Edit" class="btn btn-primary" (click)="editAccounts(account.UserName)">Edit</button>
                            <button title="Delete" class="btn btn-danger" (click)="deleteAccounts(account.UserName)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
</section>


<div>
    <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{msg}}
    </div>
</div>


<bs-modal #modal>
    <form novalidate (ngSubmit)="onSubmit(accountFrm)" [formGroup]="accountFrm">
        <bs-modal-header [showDismiss]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </bs-modal-header>
        <bs-modal-body>

            <div class="form-group">
                <label>UserName </label>
                <input type="text" class="form-control" placeholder="Username" formControlName="UserName">
            </div>
            <div class="form-group">
                <label>Password </label>
                <input type="password" class="form-control" placeholder="Password" formControlName="Password">
            </div>
            <div class="form-group">
                <label>FullName </label>
                <input type="text" class="form-control" placeholder="FullName" formControlName="FullName">
            </div>
            <div class="form-group">
                <label>Email </label>
                <input type="text" class="form-control" placeholder="Email" formControlName="Email">
            </div>
            <div class="form-group">
                <label>Phone Number</label>
                <input type="text" class="form-control" placeholder="Phone Number" formControlName="Phone">
            </div>
            <div class="form-group">
                <label>Permission</label>
                <select class="form-control select2" style="width: 100%;" formControlName="PermissionId">
                    <option value="" selected hidden>Choose this permission</option>
                    <option value="0">Admin</option>
                    <option value="1">Staff</option>
                </select>
            </div>
            <!--<div class="form-group">
                <label>Status</label>
                <input type="text" class="form-control" placeholder="Status" formControlName="Status">
            </div>-->

        </bs-modal-body>
        <bs-modal-footer>
            <div>
                <a class="btn btn-default" (click)="modal.close()">Cancel</a>
                <button type="submit" [disabled]="accountFrm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
            </div>
        </bs-modal-footer>
    </form>
</bs-modal>
