
<section class="content-header">
    <h1>
        News
    </h1>
</section>
<section class="content">
    <div class="box box-default">
        <div class='table-responsive'>
            <div style="padding:10px"><button class="btn btn-primary" (click)="addNew()">Add</button></div>
            <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../../../Content/adminLTE/img/loading.gif" width="32" height="32" /> Loading...</div>
            <div *ngIf='news && news.length==0' class="alert alert-info" role="alert">No record found!</div>
            
                <table class='table table-hover' *ngIf='news && news.length'>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Author</th>
                            <th>CreatedTime</th>
                            <th>CreateBy</th>
                            <th>ViewCount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let new of news">
                            <td>{{new.Title}}</td>
                            <td>{{new.CategoryName}}</td>
                            <td>{{new.Author}}</td>
                            <td>{{new.CreatedTime}}</td>
                            <td>{{new.CreateBy}}</td>
                            <td>{{new.ViewCount}}</td>
                            <td>
                                <button title="Edit" class="btn btn-primary" (click)="editNew(new.NewsId)">Edit</button>
                                <button title="Delete" class="btn btn-danger" (click)="deleteNew(new.NewsId)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
           
        </div>

    </div>
</section>
<div>
    <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{msg}}
    </div>
</div>


<bs-modal #modal>
    <form novalidate (ngSubmit)="onSubmit(newFrm)" [formGroup]="newFrm">
        <bs-modal-header [showDismiss]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </bs-modal-header>
        <bs-modal-body>
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="Title" formControlName="Title" id="Title" required>
                <div *ngIf="newFrm.controls['Title'].invalid && (newFrm.controls['Title'].dirty || newFrm.controls['Title'].touched)"
                     class="alert alert-danger">
                    <div *ngIf="newFrm.controls['Title'].errors.required">
                        Title is required.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" placeholder="Description" formControlName="Description"></textarea>
            </div>
            <div class="form-group">
                <label>Content</label>
                <ckeditor formControlName="Content" debounce="500">
                </ckeditor>
            </div>
            <div class="form-group">
                <label>Image</label>
                <input type="text" class="form-control" placeholder="Image" formControlName="Image">
            </div>
            <div class="form-group">
                <label>Category</label><br />
                <select class="form-control select2" style="width: 100%;" formControlName="CategoryId">
                    <option value="null" selected="selected" hidden>Choose this parent</option>
                    <option *ngFor="let item of category" [value]="item.CategoryId">{{item.CategoryName}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Author</label>
                <input type="text" class="form-control" placeholder="Author" formControlName="Author">
            </div>
            <div class="form-group">
                <label>Tags</label>
                <input type="text" class="form-control" placeholder="Tags" formControlName="Tags">
            </div>

        </bs-modal-body>
        <bs-modal-footer>
            <div>
                <a class="btn btn-default" (click)="modal.close()">Cancel</a>
                <button type="submit" [disabled]="newFrm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
            </div>
        </bs-modal-footer>
    </form>
</bs-modal>


