@{
    <script src="@Url.Content("~/Scripts/app/home/TopNewestController.js")"></script>
}

<div ng-controller="TopNewest">
    <article class="article__hotnews">
        <a href="/Home/Detail/{{newsItem.NewsId}}">
            <img src="{{newsItem.Image}}">
            <h4 class="article__hotnews--bold">{{newsItem.Title}}</h4>
        </a>
        <p class="article__hotnews--size">{{newsItem.Description}}</p>
    </article>
    <div class="aside__hotnews" ng-repeat="newest in Newests">
        <a href="/Home/Detail/{{newest.NewsId}}">
            <img src="{{newest.Image}}">
            <p> {{newest.Title}}</p>
        </a>
    </div>
    <br />
</div>