@{
    <script src="@Url.Content("~/Scripts/app/home/TopNewestController.js")"></script>
}

<div class="content-wrap" ng-controller="TopNewest">
    <section class="featured">
        <article class="featured">
            <div class="cover">
                <a href="/Home/Detail/{{newsItem.NewsId}}"><img src="{{newsItem.Image}}"></a>
            </div>
            <header>
                <p class="title">
                    <a href="/Home/Detail/{{newsItem.NewsId}}">
                        {{newsItem.Title}}
                    </a>
                <p class="summary">{{newsItem.Description}}</p>
            </header>
        </article>
    </section>
    <section class="trending">
        <div class="top-list">
        <article ng-repeat="newest in Newests">
            <div class="cover">
                <a href="/Home/Detail/{{newest.NewsId}}">
                    <img src="{{newest.Image}}">
                </a>
            </div>
            <header>
                <p class="title">
                    <a href="/Home/Detail/{{newest.NewsId}}">
                        {{newest.Title}}
                    </a>
                    <span class="social">HOT</span>
                </p>
            </header>
        </article>
            </div>
    </section>
</div>
