@model IEnumerable<NEWS.WEB.Models.News>

    foreach (var item in Model)
    {
<div class="aside__hotnews">
    <a href="@Url.Action("Detail", "Home", new { id = item.NewsId })">

        <img src="@item.Image">
        <p> @item.Title</p>
    </a>
</div>
<br />
    }