@{
    <script src="@Url.Content("~/Scripts/app/home/TopViewController.js")"></script>
}
<div class="topview" ng-controller="TopView">
    <article ng-repeat="it in item">
        <div class="cover">
            <img src="{{it.Image}}">
        </div>
        <header>
            <p class="title">
                <a title="{{it.Title}}" href="/Home/Detail/{{it.NewsId}}">
                    {{it.Title}}
                </a>
            </p>
            <p class="summary">{{it.Description}}</p>
        </header>

    </article>
    <br />
</div>