@{
    <script src="@Url.Content("~/Scripts/app/home/TopViewController.js")"></script>
}
<div ng-controller="TopView">
    <div class="aside__hotnews" ng-repeat="it in item">
        <a href="/Home/Detail/{{it.NewsId}}">
            <img src="{{it.Image}}">
            <p>{{it.Title}}</p>
        </a>
    </div>
    <br />
</div>