@{
    <script src="@Url.Content("~/Scripts/app/home/TopNewestByCategoryController.js")"></script>
}
<div ng-controller="TopNewestByCategory">
    <article class="article-main">
        <a href="/Home/Detail/{{newsItem.NewsId}}">
            <img src="{{newsItem.Image}}">
            {{newsItem.Title}}
        </a>
        <header class="article-main__header">
            <p>{{newsItem.Description}}</p>
        </header>
    </article>
    }
    <div class="newslist">
        <article class="newslist__element" ng-repeat="item in listnewsItem">
            <a href="/Home/Detail/{{item.NewsId }}">{{item.Title}}</a>
        </article>
    </div>
</div>