
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="news-hot"></div>
@Html.Partial("_TopNewestPartial")
<section class="sidebar">
    <div class="aside__title">
        <p>Xem nhiều nhất</p>
    </div>
    @Html.Partial("_TopViewPartial")
</section>
<div class="advBillboard"></div>
<div class="content-wrap">
    <div class="content-wrap">
            @Html.Partial("_CategoryPartial")
            @Html.Partial("_TopNewestByCategoryPartial")
    </div>
</div>
