
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="">
    <section class="section">
        @Html.Partial("_TopNewestPartial")
    </section>
    <aside class="aside">
        <div class="aside__title">
            <p>Đọc nhiều nhất</p>
        </div>
        @Html.Partial("_TopViewPartial")
    </aside>
    <section class="section-news">
        <nav class="nav">
            <ul>
                <li class="active"><a href="">Văn hóa</a></li>
                <li><a href="">Xã hội</a></li>
                <li><a href="">Thể thao</a></li>
                <li><a href="">Chính trị</a></li>
                <li><a href="">Giáo dục</a></li>
                <li><a href="">Giải trí</a></li>
            </ul>
        </nav>
        @Html.Partial("_TopNewestByCategoryPartial")
    </section>
</div>