@model IEnumerable<NEWS.WEB.Models.News>
<table class="table">
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Title</td>
        <td>@item.Author</td>
        <td>@item.CreatedTime</td>
        <td>@item.Description</td>
    </tr>
    }
</table>
<script>
    var link = window.location.href;
    if (link.search('=') != -1) {
        var res = link.substr(link.search('=') + 1, link.length - link.search('='));
    }
    $(function () {
        $('#txtSearch').val(res);
    });
</script>
