<div class='table-responsive'>
    <div *ngIf='categories && categories.length==0' class="alert alert-info" role="alert">No record found!</div>
    <table class='table table-striped' *ngIf='categories && categories.length'>
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Category Parent</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories">
                <td>{{category.CategoryName}}</td>
                <td>{{category.ParentId}}</td>
                <td>{{category.Status}}</td>
            </tr>
        </tbody>
    </table>
    <div>
    </div>
</div>