<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview"><a routerLink=""><i class="fa fa-dashboard"></i> <span>Home</span></a></li>
            <li class=""><a routerLink="/category"><i class="fa fa-circle-o text-red"></i> <span>Category</span></a></li>
            <li class=""><a routerLink="/news"><i class="fa fa-circle-o text-red"></i> <span>News</span></a></li>
            <li class=""><a routerLink="/account"><i class="fa fa-circle-o text-red"></i> <span>Account</span></a></li>
            <li class=""><a routerLink="/role"><i class="fa fa-circle-o text-red"></i> <span>Role</span></a></li>
            <li class=""><a routerLink="/comment"><i class="fa fa-circle-o text-red"></i> <span>Comment</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>