
<footer class="footer">
    <div class="footer__contact">
        <p>
            Giấy phép báo điện tử số: 236/GP-BTTTT. Tổng Biên tập: Ngô Việt Anh
            <br />
            Cơ quan chủ quản: Hội Xuất bản Việt Nam.
            <br />
            Tòa soạn: D29 Trần Thái Tông, Cầu Giấy, Hà Nội.
            <br />
            <i>
                Chỉ được phát hành lại thông tin từ website này khi có sự đồng ý bằng văn bản của báo
            </i>

        </p>
    </div>
    <div class="footer__logo">
        <a href="">
            <img src="https://znews-static.zadn.vn/css/img/logo_zing_trithuc.png">
        </a>
        <p>
            <a href="">Quảng cáo</a>
        </p>
    </div>
</footer>