
<header class="header">
    <div class="containerr">
        <div class="header__logo">
            <a href="/"></a>
        </div>
        <form name="search" method="get" id="searchbox" class="znewsSearch" action="@Url.Action("Search", "Home")">
            <input type="text" name="txtSearch" placeholder="Nhập nội dung cần tìm..." id="txtSearch">
            <button type="submit" id="search_button">Tìm kiếm</button>
        </form>
    </div>
</header>