<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="UTF-8">
    @Styles.Render("~/SiteLogin/css")
    @Scripts.Render("~/SiteLogin/js")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="containerr">
        <div class="">
            @RenderBody()
        </div>
    </div>

</body>
</html>